<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Shot TImer WatchKit App (Complication).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Shot TImer WatchKit App (Notification).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Shot TImer WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Shot TImer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8B3D492C1F20F2B500BE5242</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8B3D49401F20F2B500BE5242</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8B3D494B1F20F2B500BE5242</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8B3D49541F20F2B500BE5242</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
